{% extends "base.html" %}
{% block description %}Title: {{ article.title }}; Date: {{ article.date|strftime('%Y-%m-%d') }}; Author: {{ article.author }}{% endblock %}
{% block title %}{{ article.title }} — {{ SITENAME }}{% endblock %}
{% block content %}
<div class="article" itemscope itemtype="http://schema.org/BlogPosting">
	<div class="text-center article-header">
		<h1 itemprop="name headline" class="article-title">{{ article.title }}</h1>
		{% if article.authors %}
			<h4>{{article.authors | join(', ') }}</h4>
		{% elif article.author %}
		<span itemprop="author" itemscope itemtype="http://schema.org/Person">
			<h4 itemprop="name">{{article.author}}</h4>
		</span>
		{% endif %}
		<time datetime="{{ article.date.isoformat() }}" itemprop="datePublished">{{ article.locale_date }}</time>
	</div>
	{% if article.category %}
	<div>
		Category:
		<span itemprop="articleSection">
			<a href="{{ SITEURL }}/{{ article.category.url }}" rel="category">{{ article.category }}</a>
		</span>
	</div>
	{% endif %}
	{% if article.tags %} 
	<div>
		Tags:
		{% for tag in article.tags %}
		<span itemprop="keywords">
			<a href="{{ SITEURL }}/{{ tag.url }}" rel="tag">{{ tag }}</a>
		</span>
		{% endfor %}
	</div>
	{% endif %}
	<div itemprop="articleBody" class="article-body">{{ article.content }}</div>
	{% include "twitter.html" %}
	{% include "liberapay.html" %}
	{% include 'disqus.html' %}
</div>
{% endblock %}
